body {
  height: 100vh;
  background: rgb(139, 62, 85);
}

.dropdown {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.projects,
.products {
  position: relative;
}

.projects ul,
.products ul {
  position: absolute;
  background: white;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.5s ease;
}

.projects li,
.products li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.projects li:hover,
.products li:hover {
  background: rgb(218, 179, 191);
}

.projects a,
.products a {
  color: black;
  text-decoration: none;
}

.dropdown button,
.home {
  background: none;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.dropdown button:hover,
.home:hover {
  color: rgb(224, 224, 244);
}

.projects button:focus + ul,
.products button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
